<div class="video">
  <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?autoplay=1&loop=1&controls=0&showinfo=0&rel=0" frameborder="0" allowfullscreen>
  </iframe>
  <div class="video-content">
    <h1>Welcome home</h1>
    <p>Book unique space-travels and experiences a planet like a local</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>




